.popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  img {
    width: 300px;
    border-radius: 10px 0 0 10px;
  }
  .content {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    button {
      background-color: #bb86fc ;
      border: white solid 2px;
      border-radius: 5px;
      color: white;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition: all .25s;
      cursor: pointer;
      &:hover {
        border: #bb86fc solid 2px;
        background-color: #bb86fc;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 90%;
    padding: 10px;
    height:40%;
    max-height: 40%;
    img {
      width: 150px;
      border-radius: 0px;
    }
    .content {
      padding: 0 10px;
      width: 85%;
    }
    img {
      width: 150px;
      border-radius: 10px 0 0 10px;
    }
    .content {
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      .title {
        font-size: 16px;
      }
      .desc {
        font-size: 8px;
      }
      button {
        display: none;
      }
    }
  }
}
