header {
  position: fixed;
  width: 100%;
  padding: 0px 120px;
  height: 100px;
  font-size: 25px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  z-index: 101;
  .left-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 80px; 
    text-decoration: none;
    h1 {
      font-size: 50px;
      color: #bb86fc;
      margin-right: 50px;
    }
    .link {
      margin-right: 20px;
    }
    .link:link, .link:visited {
      color: rgba(255, 255, 255, .65);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition: all .25s;
    }
    .link:hover, .link:active {
      color: #bb86fc;
    }
  }
  .right-wrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 80px; 
    text-decoration: none;
    gap: 50px;
    .link i {
      padding-right: 5px;
    }
    .link:link, .link:visited {
      color: rgba(255, 255, 255, .65);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition: all .25s;
    }
    .link:hover, .link:active {
      color: #bb86fc;
    }
    button {
      background-color: transparent ;
      border: white solid 2px;
      border-radius: 5px;
      color: white;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition: all .25s;
      cursor: pointer;
      &:hover {
        border: #bb86fc solid 2px;
        background-color: #bb86fc;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  header {
    padding: 0px 10px;
    height: 80px;
    font-size: 12px;
    .left-wrapper {
      h1 {
        font-size: 20px;
        margin-right: 10px;
      }
      .link {
        margin-right: 6px;
      }
    }
    .right-wrapper {
      height: 80px; 
      gap: 10px;
      .link {

      }
      .link {
        font-size: 12px;
        i {
          display: none;
        }
      }
      button {
        border-radius: 3px;
        padding: 6px 4px;
        font-size: 8px;
        margin: 4px 2px;
      }
    }
  }
}
